<html><body>

	<h1>Index of pages for PDF output</h1>
<table border=1>
	<tr><th>PAGE</th><th>URL</th><th>PATH</th></tr>

{{range .Site.Home.Sections.ByWeight}}
    {{if (not .Params.Hidden)}}
    
		{{if and (not .Params.Hidden) (eq .Params.pdf true) }}
            {{ template "contentPage" dict "page" . }}
        {{ end }}
        {{ template "nested" dict "section" . }}
    {{ end }}
{{ end }}



<!-- templates -->
{{ define "nested" }}
    {{ with .section}}
<!-- Content nested in a section -->
        {{ range .Sections.ByWeight }}
        <!-- Sections -->
            {{ range .Sections.ByWeight }}
                {{/*  <h1>N_SECTION: {{.Title }}</h1>  */}}
                {{ template "nested" dict "section" . }}
            {{ end }}
        <!-- {{ .Title }} -->
			{{if and (not .Params.Hidden) (eq .Params.pdf true)}}
				{{ template "contentPage" dict "page" . }}
            {{ end }}
            {{ template "nested" dict "sect" . }}
            {{ range .Pages.ByWeight }} 
            <!-- Sections -->
            <!-- {{ .Title }} -->
                {{if and (.IsSection) (not .Params.Hidden) (eq .Params.pdf true) }}
                    {{/*  <h1>L_SECTION: {{.Title }}</h1>  */}}
                    {{ template "contentPage" dict "page" . }}      
                {{ end }}
            {{ end }}
            
            {{ range .Pages.ByWeight }} 
            <!-- Pages -->
            <!-- {{ .Title }} -->
				{{if and (not .IsSection) (not .Params.Hidden) (eq .Params.pdf true) }}
			{{/*  <h1>PAGE: {{.Title }}</h1>  */}}
                    {{ template "contentPage" dict "page" . }}      
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ define "contentPage" }}
    {{ with .page}}
      <tr><td>{{.Title}}</td><td>{{ .Permalink }}</td><td>{{ .File.Dir }}</td></tr>
             
        
    {{ end }}
{{ end }}

</table>

</body></html>
<!-- {{ partial "footer.html" . }} -->
